#enTete {
    font-family: 'Sigmar One', sans-serif;
    color: #AB5013;
}

#slogan {
    font-family: 'Sigmar One', sans-serif;
    font-size: 20pt;
}

body {
    background-color: #061c03;;
    color:#AB5013;
    font-family: 'Space Mono', sans-serif;
    font-weight: bold;
}

#gallery {display: grid;
    grid-template-columns: 220px 220px 220px;
    grid-template-rows: 170px 170px;
    gap: 10px;
}

#gallery img {
    width: 100%;
    height:100%;
    object-fit: cover;
}