#enTete {
    font-family: 'Sigmar One', sans-serif;
    color: #AB5013;
}

#slogan {
    font-family: 'Sigmar One', sans-serif;
    font-size: 20pt;
}

body {
    background-color: #061c03;
    color:#AB5013;
    font-family: 'Sigmar One', sans-serif;
}