#enTete {
    font-family: 'Sigmar One', sans-serif;
    color: #AB5013;
}

#slogan {
    font-family: 'Sigmar One', sans-serif;
    font-size: 20pt;
}

body {
    background-image: url(Assets/WHAT_directions.png);
    color:#AB5013;
    font-family: 'Space Mono', sans-serif;
    font-weight: bold;
}